[Unit]
Description=RuuviTagSensor server
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/swprojects/ruuvi
#Assuming that config file is in same directory that gtw.py
ExecStart=/home/pi/swprojects/ruuvi/server.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
